<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400&family=Sigmar+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Paw-fect Fur-iends</title>
</head>

<body>
    <section class="main-section">
        <div class="home-heading">
            <h1>Paw-fect</h1>
            <h1>Fur-iends</h1>
            <a class="home-btn" href="/profiles">Visit</a>
            <a class="home-btn" href="/log">Log</a>
        </div>
        <img class="home-bg" src="/images/IMG_9646.jpg" alt="Two Cats">
    </section>

    <script src="/main.js"></script>
</body>

</html>