body {
    background-color: #212F3F;
    color: white;
    padding: 5%;
    font-family: 'Montserrat', sans-serif;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding-left: 2%;
}

input, h4, textarea {
    display: block;
    font-size: 20px;
    padding: 4px 2px;
    margin: 2px 0 20px 10px;
}


.home-bg {
    margin-left: 15%;
    border-radius: 80% 50% 80% 50%;
    width: 45%;
    display: block;
    float: right;
}

.main-section {
    margin: 5% auto;
    font-family: 'Sigmar One', cursive;
}

.home-heading {
    float: left;
}

.home-heading {
    margin-left: 10%; 
    font-size: xxx-large;
    line-height: 50%;
}

.home-btn {
    color: #056A4C;
    margin-right: 5%;
}

.home-btn:hover {
    color: #1FC667;
}